body{
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
}

.main{
  margin-top: 50px;
  background-color: rgb(34, 34, 46);
  border-radius: 10px;
  /* height: 100px; */
  width: 100vb;
}